{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Stage 3
{% endblock %}

{% block content %}
    <div class="card bg-light instructions">
        <div class="card-body">
            You were selected as interaction partner and received 500 points. Please decide how many
            points you want to keep and how many points you want to give to the selector.
        </div>
    </div>
    <br />

    {{ formfield 'amount_keep' }}
    {{ formfield 'amount_give' }}
    
    {{ next_button }}
{% endblock %}
