{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Stage 3
{% endblock %}

{% block content %}



    <div align="center">
	{% include Constants.dictator_instructions %}

    <table align="center">
    	<tr><td>Keep for yourself: </td><td width=50px></td><td>{% formfield group.dictator_choice11 %}</td><td></td></tr>
    	<tr><td>Give to selector: </td><td></td><td>{% formfield group.dictator_choice12 %}</td><td></td></tr>
    </table>
    </div>


    <p></p>	
    <button name="submit" value="1" class="btn btn-primary btn-large">Submit</button>
    	


{% endblock %}
