{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
	Part 2
{% endblock %}

{% block content %}
<div class="card bg-light m-3">
  <div class="card-body">
    <h3>Instructions</h3>
    <p>
      In this part, <strong>everything will stay the same as in part 1, except for stage 3 and the
      feedback</strong>. You will also stay in your role (decider or selector) from part 1. Again,
      this part consists of 15 rounds. For your convenience, we repeat the instructions for stage 1
      and 2 below. Again, click the blue headings to collapse the subsections.
    </p>
    <p>
      <b>Note:</b> Tick the checkboxes in the subsections below to show that you have read and
      understood the instructions. Otherwise, you will not be able to proceed.
    </p>

    <div class="card bg-light m-3">
      <div class="card-body">
        <h5>Stage 1</h5>
        <p>
          Each decider will decide how to allocate 15 balls between two buckets on the computer
          screen. The decider's task is to put each ball, one-by-one, into one of the two buckets:
          the blue bucket or the yellow bucket. For each ball the decider puts in the blue bucket
          he or she will receive 5 points and for each ball the decider puts in the yellow bucket he
          or she will receive 15 points.
        </p>
        <p>The rule is to put the balls in the blue bucket.</p>
        <p>
          The decider's payment for this stage will be based on the sum of the points from the blue
          and yellow buckets. The selector will not take part in stage 1.
        </p>
        {{ formfield "understood31" }}
      </div>
    </div>

    <div class="card bg-light m-3">
      <div class="card-body">
        <h5>Stage 2</h5>
        <p>
          The selector will start by receiving 450 points. The selector will then learn about the
          decisions of all three deciders. Specifically, they will be told how many balls each
          decider placed in the blue and yellow bucket. <strong>The selector can then select which
          decider to interact with for stage 3. </strong>The selector has to select at least one
          decider to interact with but can also choose to interact with two deciders in stage 3 - or
          even all three. For every decider that the selector wants to interact with in stage 3, the
          selector has to pay a cost of 150 points. If a decider is not selected for stage 3, he or
          she will skip this stage and wait for the others to finish.
        </p>
        <p>
          Importantly, the selector will not be able to identify the deciders across rounds, but
          only learn about their behavior in stage 1 (the bucket task).
        </p>
        {{ formfield "understood32" }}
      </div>
    </div>

    <div class="card bg-light m-3">
      <div class="card-body">
        <h5>Stage 3</h5>
        <p>
          In this stage the selected deciders will use the die and the cup. The deciders have to
          roll the die using the cup, peek under the cup, and report the die-roll outcome. The
          payoff for the decider and selector will be determined by the result that the decider
          reports.
        </p>
        <p>Specifically:</p>
        <ul>
          <li>If a decider reports a 1, both the decider and the selector will earn 0 points.</li>
          <li>If a decider reports a 2, both the decider and the selector will earn 50 points.</li>
          <li>If a decider reports a 3, both the decider and the selector will earn 100 points.</li>
          <li>If a decider reports a 4, both the decider and the selector will earn 150 points.</li>
          <li>If a decider reports a 5, both the decider and the selector will earn 200 points.</li>
          <li>If a decider reports a 6, both the decider and the selector will earn 250 points.</li>
        </ul>
        {{ formfield "understood33" }}
      </div>
    </div>
    <div class="card bg-light m-3">
      <div class="card-body">
        <h5>Feedback in Part 2</h5>
        <p>
          After stage 3, the round is over and you will receive a summary of this round.
        </p>
        <p>In the role of the decider, you receive a summary of:</p>
        <ul type="a">
          <li>your payoff from stage 1</li>
          <li>whether you were selected as interaction partner for stage 3, and</li>
          <li>your die-roll report and how many points you and the selector earned, accordingly</li>
        </ul>
        <p>In the role of the selector, you receive a summary of:</p>
        <ul type="a">
          <li>the deciders you chose as interaction partners for stage 3 and</li>
          <li>the die-roll report and resulting earnings for each decider you interacted with</li>
        </ul>
        <p>Then, you move on to the next round starting with stage 1.</p>
        {{ formfield "understood34" }}
      </div>
    </div>
  </div>
</div>
<p><b>Please answer the following questions.</b></p>

{{ formfield
  'comprehension7'
  label='If a decider was selected for stage 3, how many points do the decider and selector receive if the decider reports to have thrown a 1?'
}}
{% formfield
  'comprehension8'
  label='If a decider was selected for stage 3, how many points do the decider and selector receive if the decider reports to have thrown a 6?'
%}

{{ next_button }}

{% endblock %}

