{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
	Stage 2
{% endblock %}

{% block content %}

{% for p in results %}
<p>
	{% if p.id == player.id_in_group %}
		You chose the blue bucket {{ p.score }} times and were
	{% else %}
		Another decider chose the blue bucket {{ p.score }} times and was
	{% endif %}
	{% if p.selected %}
		<b>selected</b>
	{% else %}
		<b>not selected</b>
	{% endif %}
	for stage 3.
</p>
{% endfor %}

<button name="continue" value="True" class="btn btn-primary btn-large">
{% if player.is_selected %}
	Go to stage 3
{% else %}
	Wait for others
{% endif %}
</button>

{% endblock %}

