{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Stage 2
{% endblock %}

{% block content %}
	<div class="card bg-light instructions">
		<div class="card-body">
			You received 450 points. Below you see the decisions of all three deciders from Stage 1.
			Please select at least one interaction partner.
		</div>
	</div>
	<br />

	{{ for r in results }}
		<span>
			A decider chose the blue bucket {{ r.blue_count }} times and earned {{ r.payoff }}
		</span>
		{{ formfield r.field }}
		<br />
	{{ endfor }}

    {% next_button%}

{% endblock %}

