{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Stage 1
{% endblock %}

{% block content %}


	{% include Constants.rf_instructions %}

	
	{% if player.id_in_group == 1 %}

		<p>Which bucket do you choose for ball {{ player.balls }} ?</p>

		<p></p>
		<table align="center">
			<tr><td><button name="yellow_choice105" value="1" class="btn btn-primary btn-large">Yellow bucket</button></td><td width=180px></td>
				<td><button name="blue_choice105" value="1" class="btn btn-primary btn-large">Blue bucket</button></td></tr>
			<tr><td>{{ group.yellow_counter1 }} times chosen</td><td></td><td>{{ group.blue_counter1 }} times chosen</td></tr>
			<tr><td></td><td width=50px>Total points earned this round: {{ group.payoff_rf1 }}</td><td></td></tr>

		</table>
	
	{% endif %}





	{% if player.id_in_group == 2 %}

		<p>Which bucket do you choose for ball {{ player.balls }} ?</p>

		<p></p>
		<table align="center">
			<tr><td><button name="yellow_choice205" value="1" class="btn btn-primary btn-large">Yellow bucket</button></td><td width=180px></td>
				<td><button name="blue_choice205" value="1" class="btn btn-primary btn-large">Blue bucket</button></td></tr>
			<tr><td>{{ group.yellow_counter2 }} times chosen</td><td></td><td>{{ group.blue_counter2 }} times chosen</td></tr>
			<tr><td></td><td width=50px>Total points earned this round: {{ group.payoff_rf2 }}</td><td></td></tr>

		</table>
	
	{% endif %}





	{% if player.id_in_group == 3 %}

		<p>Which bucket do you choose for ball {{ player.balls }} ?</p>

		<p></p>
		<table align="center">
			<tr><td><button name="yellow_choice305" value="1" class="btn btn-primary btn-large">Yellow bucket</button></td><td width=180px></td>
				<td><button name="blue_choice305" value="1" class="btn btn-primary btn-large">Blue bucket</button></td></tr>
			<tr><td>{{ group.yellow_counter3 }} times chosen</td><td></td><td>{{ group.blue_counter3 }} times chosen</td></tr>
			<tr><td></td><td width=50px>Total points earned this round: {{ group.payoff_rf3 }}</td><td></td></tr>

		</table>
	
	{% endif %}



{% endblock %}
