{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Stage 1
{% endblock %}

{% block content %}

	{% include Constants.rf_instructions %}

	<br />
	<p>Which bucket do you choose for ball {{ ball_count }} ?</p>
	<br />

	<table align="center">
		<tr>
			<td>
				<input type="hidden" name="yellow_choice" />
				<button onclick="handle_yellow_chosen()" name="yellow_choice_btn" class="btn btn-primary btn-large">
					Yellow bucket
				</button>
			</td>
			<td width=180px></td>
			<td>
				<input type="hidden" name="blue_choice" />
				<button onclick="handle_blue_chosen()" name="blue_choice_btn" class="btn btn-primary btn-large">
					Blue bucket
				</button>
			</td>
		</tr>
		<tr>
			<td>{{ player.yellow_count }} times chosen</td>
			<td></td>
			<td>{{ player.blue_count }} times chosen</td>
		</tr>
	</table>

	<br />
	<p>Total points earned this round: {{ group.payoff_rf1 }}</p>

{% endblock %}

{{ block scripts }}
	<script>
		$('input[name="yellow_choice"]').val(false);
		$('input[name="blue_choice"]').val(false);

		function handle_yellow_chosen() {
			$('input[name="yellow_choice"]').val(true);
		}

		function handle_blue_chosen() {
			$('input[name="blue_choice"]').val(true);
		}
	</script>
{{ endblock }}
