{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Stage 2
{% endblock %}

{% block content %}

    <div class="card bg-light instructions">
        <div class="card-body">
            The selector will now receive 450 points. The selector will then learn about the
            decisions of all three deciders and select at least one interaction partner for stage 3.
        </div>
    </div>
    <br />

    <button class="btn btn-primary btn-large">Wait for the selector</button>

{% endblock %}

