{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Thank you
{% endblock %}

{% block content %}
	<p>
        You earned a <strong>total of {{ money_earned }} during this
        experiment.</strong> Your earnings are based on two randomly
        selected rounds, plus a participation fee of {{ variable here
        }}.
    </p>
    <p>
        The rounds that were selected for payment for part 1 and 2
        respectively are rounds <strong>{{
        session.vars.rfas_payed_round1 }}</strong> and <strong>{{
        session.vars.rfas_payed_round2 }}</strong>
    </p>
    <p>
        <strong>The experimenter will distribute a receipt for you to
        sign. Please fill in the correct amount and sign your
        receipt. Then quietly pack up your things and leave, dropping
        your receipt with the experimenter on the way out.</strong>
    </p>
{% endblock %}

