{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Informed Consent
{% endblock %}

{% block content %}

<div class="card bg-light m-3">
    <div class="card-body">
        <p>
            This study involves reading instructions and making a
            series of decisions that can affect your payment. The
            study involves one session and you have earned an initial
            participation fee of $10.00. During the experiment you
            will have the opportunity to earn additional money,
            depending on your decisions and the decisions of other
            participants.
        </p>
        <p>
            All instructions, decisions, and questionnaires will be
            presented to you on the computer. Participation is
            voluntary and at your own discretion. This means that you
            can withdraw from the study at any time and without
            having to explain or justify why. If you leave early,
            however, you will forfeit any payment for the session.
        </p>
        <p>
            All measures taken in this study are for scientific
            purposes only and all information collected during this
            study is confidential. No identifying information will be
            stored, so your responses are strictly anonymous.
			
			(We will collect your PayID, so that we can pay you for
			your participation. But this will be stored in a separate data
			file that cannot be associated with your responses.)
        </p>
        <p>
            After the experiment, your earnings will be paid out to
            you by bank deposit using your PayID. We will do this
            within 24 hours of completing the experiment.
        </p>
        <p>
            The study is coordinated by Professor Toby Handfield
            (toby.handfield@monash.edu). Questions can
            be addressed to him.
        </p>
		<p>
			An explanatory statement, providing further information
			about the experiment, was posted with the advertisement of this
			study on SONA. You should also have a printed copy of the
			explanatory statement on your desk. If you do not have one, please
			raise your hand. You may keep this statement for future reference
			if you wish.
		</p>
    </div>
</div>

<p>{% formfields %} </p>

{{ next_button }}

{% endblock %}
