{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Informed Consent
{% endblock %}

{% block content %}

<div class="card bg-light m-3">
    <div class="card-body">
        <p>
            This study involves reading instructions and making a series of decisions that can affect your
            payment. The study involves one session and you will be compensated with at least 6.50 Euros or
            2 credits. Yet, you can also earn more than 6.50 Euro, depending on your decisions in this
            experiment.
        </p>
        <p>
            All instructions, decisions, and questionnaires will be presented to you on the computer.
            Participation is voluntary and at your own discretion. This means that you can withdraw from the
            study at any time and without having to explain or justify why. You will still receive at least
            6.50 Euros or 2 credits.
        </p>
        <p>
            All measures taken in this study are for scientific purposes only and all information collected
            during this study is confidential. The data will be stored in a coded way so that responses
            cannot be traced back to your identity.
        </p>
        <p>
            At the end of the experiment, you will be debriefed with background information about the study.
            Your earnings will be paid out to you right after the session including possible additional
            earnings you may have obtained during the experiment.
        </p>
        <p>
            The study is coordinated by Dr. J&ouml;rg Gross (j.a.j.gross@fsw.leidenuniv.nl). Questions or
            complaints can be addressed to him.
        </p>
    </div>
</div>

<p>{% formfields %} </p>

{{ next_button }}

{% endblock %}
