{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
    <h3>
        
    </h3>
     
<p align="center">Welcome to the experiment! Below you will find detailed information about the study and a short test to check whether you understood the general setup. It is therefore important that you read the instructions closely.</p>
<p align="center"><strong>Part One</strong></p>
<p align="center">The first part of the study consists of 10 rounds. Each round includes the following three stages.</p>
<p align="center"><strong>Stage One. </strong>You were assigned to the &lsquo;selector&rsquo; role. As a selector you will not participate in stage one as described below. Instead, you will monitor the scores of the other players. Players&rsquo; scores are a summary of the other players&rsquo; decisions. Selected players have the opportunity to earn more in stage three. Players who were not selected, do not have the possibility to earn more.</p>
<p align="center">The other players participate in the following task. There are two baskets: a yellow basket and a blue basket. The other players will get 15 balls each and are asked to put these 15 balls in the two baskets. <strong>The rule is to put the balls in the yellow basket</strong>. Choosing the yellow basket will earn them 5 points while choosing the blue basket will earn them 15 points. The other players can earn a total of 75 to 225 points in this stage. Their decisions are saved as two scores and, at the beginning of each new round, these scores are reset to zero.</p>
<p align="center"><strong>Stage Two. </strong>You will choose at least one of the three other players based on the decisions they have made in stage one. Players who get selected for stage three have the opportunity to earn more points in stage three. In stage two, however, players cannot earn points; only you can.</p>
<p align="center">You will get 400 points each round and select at least one player. The fee for each selected player is 150 points. The remaining points are your earnings in stage two. The maximum you can earn in stage two is therefore 300 points.</p>
<p align="center"><strong>Stage Three. </strong>&nbsp;There are two environments. Each environment lasts 10 rounds. In the first environment, selected players are given 500 points. They are then asked to allocate a part of these points to you and the other part to themselves. The allocations they decide to make determine both your earnings as well as their earnings.</p>
<p align="center">&nbsp;</p>
<p align="center">In the second environment of stage three, each selected player will use the die that is placed on the table in front of them. They are asked to report a die roll which will determine their earnings as well as yours. The amount they will get will be the same for each partner and you and will depend on the die roll each of them reports. The maximum you can earn is 250 points for rolling a six, the minimum is 0 points for rolling a one. So, for each increase in the number they roll, you earn 50 points more. Selected players are allowed to roll the die only once per round.</p>
<p align="center"><strong>Part Two</strong></p>
<p align="center">In part two, everything stays the same except for the order of the two environments in stage three. So, a) environment one becomes environment two and b) environment two becomes environment one.</p>
<p align="center"><strong>Part Three</strong></p>
<p align="center">Part three marks the last part of the experiment. This part consists of a series of questions in which you will make decisions for yourself and another person. However, this person will not be part of this study.</p>
<p align="center">If you have any questions, you can ask the experimenter.</p>
<p align="center"><strong>Note:</strong> There is no deception involved in this study and your data will be anonymized and treated confidentially. Also, the interactions of each group member (including you) have real consequences for your earnings and any other member&acute;s earnings.</p>

    </div>
</div>

