{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   Stage 3
{% endblock %}

{% block content %}
  <p>
    <strong>You got {{ C.ENDOWMENT_SELECTION }} and spent {{ C.SELECTION_FEE }}  on each selected
    decider</strong> and you interacted with {{ group.num_selected }} out of the 3 deciders.
  </p>

  {{ for p in results }}
    <p>
      A decider who chose the blue bucket {{ p.blue_count }} times decided to keep
      {{ p.amount_keep }} and give {{ p.amount_give }} to you. Therefore, you earned
      {{ p.amount_give }} for this interaction.
    </p>
  {{ endfor }}

  <p>In this round, <strong>you earned a total of {{ player.payoff }}</strong>.</p>

  {{ next_button }}
{% endblock %}
