{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Part 2
{% endblock %}

{% block content %}
    <p>
      In this part, everything will stay the same as in part 1, except that the decider will receive
      <strong>{{ subsession.session.config.pt2_endowment_blue }} points</strong> for putting each ball in the blue bucket and
      <strong>{{ subsession.session.config.pt2_endowment_yellow }} points</strong> for putting each ball in the yellow bucket.
    </p>
    <p>
      The rule is to place the balls in the blue bucket.
    </p>
    {{ next_button }}
{% endblock %}