{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Part 2
{% endblock %}

{% block content %}
    <p>
      In this part, <strong>everything will stay the same as in part
      1, except for stage 1</strong>. You will also stay in your role
      (decider or selector) from part 1. Again, this part consists of
      {{ variable?? }} rounds.
    </p>
    <p>
      The only difference is how much the deciders earn for
      choosing each bucket in Stage 1. In this Part, <strong>deciders will earn
            {{ session.config.pt2_endowment_blue }} points for each
            ball placed in the blue bucket</strong>, and <strong>{{
                  session.config.pt2_endowment_yellow }} points for each
                  ball placed in the yellow bucket</strong>.
    </p>
    <p>
      The rule is still to put the balls in the blue bucket.
    </p>
    <p>
      Stage 2 and Stage 3 are exactly the same as before.
    </p>
    {{ next_button }}
{% endblock %}