{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Please Read the Instructions Closely and Answer the Questions Below.
{% endblock %}

{% block content %}

<div class="card bg-light m-3">
  <div class="card-body">
    <h3>General Instructions</h3>
		<p>
      Welcome to the experiment! Below you will find detailed information about the study and a short
      test to check whether you understood the general setup. It is therefore important that you read
      the instructions closely. Click the blue headings to collapse the subsections.
    </p>
    <p>
      There is no deception and no hidden information in this study. Please do not hesitate to call
      the experimenter if anything remains unclear to you.
    </p>
    <p>
      <strong>Note:</strong> Tick the checkboxes in the subsections below to show that you have read
      and understood the instructions. Otherwise, you will not be able to proceed.
    </p>
    {% formfield player.understood1 %}

    <div class="card bg-light m-3">
      <div class="card-body">
        <h5>Roles</h5>
        <p>
          In this study, you will be assigned to one of two roles and you will remain in this role
          throughout the experiment. You will either be playing in the role of the <b>selector</b> or in
          the role of a <b>decider</b>. In total, there is one selector and there are three deciders.
        </p>
        <p>
          You will find out about your role at the start of the experiment.
        </p>
        {% formfield player.understood11 %}
      </div>
    </div>

    <div class="card bg-light m-3">
      <div class="card-body">
        <h5>General Structure</h5>
        <p>
          This study consists of <strong>two parts</strong>. Below, we will explain the first part
          in detail. After you have completed the first part of the experiment, we will give you
          instructions about the second part.
        </p>
        {% formfield player.understood12 %}
      </div>
    </div>

    <div class="card bg-light m-3">
      <div class="card-body">
        <h5>Payment</h5>
        <p>
          At the end of the experiment, <strong>one round of part 1 will be selected randomly
          </strong> by the computer. Since you do not know which round will count for real, you
          should treat each round independently and as if every round is the one that counts.
        </p>
        <p>
          The points you earn in a round will be converted to money at a conversion rate of
          <strong>100 points = 1 Dollar</strong>. Hence, your decisions have real consequences for
          your earnings and, potentially, the earnings of other participants. You will start with
          0 points and if your point total is below 650 points at the end of the experiment, you
          will still get paid 6.50 Dollars. Therefore, you can earn a bonus if your point total is
          above 650 points.
        </p>
        {% formfield player.understood13 %}
      </div>
    </div>
  </div>
</div>

<div class="card bg-light m-3">
  <div class="card-body">
    <h3>Part 1</h3>
    <p>
      The first part of the study consists of {{ C.PT1_NUM_ROUNDS }} rounds. Each round has <strong>three stages
      </strong>.
    </p>
    {% formfield player.understood2 %}

    <div class="card bg-light m-3">
      <div class="card-body">
        <h5>Stage 1</h5>
        <p>
          Each decider will decide how to allocate {{ C.RFTASK_NUM_ROUNDS }} balls between two buckets on the computer
          screen. The deciders' task is to put each ball, one-by-one, into one of the two
          buckets: the blue bucket or the yellow bucket. For each ball the decider puts in the
          blue bucket he or she will receive {{ session.config.pt1_endowment_blue }} points and for each ball the decider puts in the
          yellow bucket he or she will receive {{ session.config.pt1_endowment_yellow }} points.
        </p>
        <p>The rule is to put the balls in the blue bucket.</p>
        <p>
          The deciders' payments in this stage will be based on the sum of the points of the blue
          bucket and the yellow bucket. The selector will not take part in stage 1.
        </p>
        {% formfield player.understood21 %}
      </div>
    </div>

    <div class="card bg-light m-3">
      <div class="card-body">
        <h5>Stage 2</h5>
        <p>The selector will start by receiving {{ session.config.endowment_selection }} points.</p>
        <p>
          The selector will then learn about the decisions of all three deciders. Specifically, the
          selector will be told how many balls each decider placed in the blue bucket. The selector
          can then choose which decider to interact with for stage 3. <strong>The selector has to
          select at least one decider to interact with</strong> but can also choose to interact with
          two deciders in stage 3 - or even with all three.
        </p>
        <p>
          For every decider that the selector chooses, the selector has to pay a cost of {{ session.config.selection_fee }} points.
          If a decider is not selected for stage 3, he or she will skip this stage, wait for the
          others to finish, and not earn be able to earn more.
        </p>
        <p>
          Importantly, the selector will not be able to identify the deciders across rounds, but
          only learn about their behavior in stage 1 (the bucket task). Specifically, the selector
          will be told how many balls each decider placed in the blue bucket.
        </p>
        {% formfield player.understood22 %}
      </div>
    </div>

    <div class="card bg-light m-3">
      <div class="card-body">
        <h5>Stage 3</h5>
        <p>If a decider is selected as interaction partner, he or she will receive {{ C.ENDOWMENT_STAGE_THREE }}.</p>
        <p>
          The decider is then asked how many points he or she wants to keep and how many points he
          or she wants to give to the selector. Hence, the decision of the decider determines the
          earnings of the decider as well as the earnings of the selector in this stage.
        </p>
        <p>
          After the decider has made his or her decision, the selector will learn about the
          outcome.
        </p>
        {% formfield player.understood23 %}
      </div>
    </div>

    <div class="card bg-light m-3">
      <div class="card-body">
        <h5>Feedback in Part 1</h5>
        <p>After stage 3, the round is over and you will receive a summary of this round.</p>
        <p>In the role of the decider, you receive a summary of:</p>
        <ol type="a">
          <li>Your payoff from stage 1,</li>
          <li>Whether you were selected as interaction partner for stage 3</li>
          <li>How many points you decided to keep for yourself and give to the selector</li>
          <li>Your total sum of points you earned in this round</li>
        </ol>
        <p>In the role of the selector, you receive a summary of:</p>
        <ol type="a">
          <li>The deciders you chose as interaction partners for stage 3</li>
          <li>How many points the deciders you interacted with decided to keep for themselves and give to you</li>
          <li>Your total sum of points you earned in this round</li>
        </ol>
        <p>Then, you move to the next round starting with stage 1.</p>
        {% formfield player.understood24 %}
      </div>
    </div>
  </div>
</div>

<p><b>Please answer the following questions.</b></p>

{% formfield
  'comprehension1'
  label='Each round consists of ...'
%}
{% formfield
  'comprehension2'
  label='What is the rule in the first stage?'
%}
{% formfield
  'comprehension3'
  label='How many deciders can the selector select to interact with in stage 3?'
%}
{% formfield
  'comprehension4'
  label='What happens when a decider is not selected by the selector?'
%}
{% formfield
  'comprehension5'
  label='How many points does the selector have to pay to interact with one decider?'
%}
{% formfield
  'comprehension6'
  label='How many points does the decider receive if he/she is selected for stage 3?'
%}

{{ next_button }}

{% endblock %}


