{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Stage 1
{% endblock %}

{% block content %}

	<div class="card bg-light instructions">
		<div class="card-body">
			<p>
				Your task is to put each ball, one-by-one, into one of the two buckets: the blue bucket
				or the yellow bucket. The rule is to put the balls in the blue bucket.
			</p>
			<p>Each ball placed in the blue bucket earns you {{ endowment_blue }}.</p>
			<p>Each ball placed in the yellow bucket earns you {{ endowment_yellow }}.</p>
		</div>
	</div>

	<br />
	<p>Which bucket do you choose for ball {{ player.get_current_ball_num }}?</p>
	<br />

	<table align="center" style="text-align: center;">
		<tr>
			<td><img class="bucket-img" src="{{ static 'yellowbucket.png' }}" /></td>
			<td></td>
			<td><img class="bucket-img" src="{{ static 'bluebucket.png' }}" /></td>
		</tr>
		<tr>
			<td>
				<input type="hidden" name="yellow_choice" />
				<button onclick="handle_yellow_chosen()" class="btn btn-primary btn-large">
					Yellow bucket
				</button>
			</td>
			<td width=180px></td>
			<td>
				<input type="hidden" name="blue_choice" />
				<button onclick="handle_blue_chosen()"  class="btn btn-primary btn-large">
					Blue bucket
				</button>
			</td>
		</tr>
		<tr>
			<td>{{ player.yellow_count }} times chosen</td>
			<td></td>
			<td>{{ player.blue_count }} times chosen</td>
		</tr>
	</table>

	<br />
	<p>Total points earned this round: {{ player.payoff }}</p>

{% endblock %}

{{ block scripts }}
	<script>
		$('input[name="yellow_choice"]').val(false);
		$('input[name="blue_choice"]').val(false);

		function handle_yellow_chosen() {
			$('input[name="yellow_choice"]').val(true);
		}

		function handle_blue_chosen() {
			$('input[name="blue_choice"]').val(true);
		}
	</script>
{{ endblock }}
