{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Stage 1
{% endblock %}

{% block content %}
    <div class="card bg-light instructions">
        <div class="card-body">
            The deciders' task is to put each ball, one-by-one, into one of the two buckets: the blue
            bucket or the yellow bucket. The rule is to put the balls in the blue bucket.
        </div>
    </div>
    <br />
	<button class="btn btn-primary btn-large">Go to stage 2</button>
{% endblock %}
