{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Stage 3
{% endblock %}

{% block content %}
	<div class="card bg-light instructions">
		<div class="card-body">
			Each decider you selected as interaction partner will now receive {{ session.config.endowment_stage3 }} and is asked
			how many points he or she wants to keep and how many points he or she wants to give you.
		</div>
	</div>
	<br />
	<button class="btn btn-primary btn-large">Wait for the deciders</button>
{% endblock %}

