{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Part Three
{% endblock %}

{% block content %}



    <table>
    <tr><td width=50px></td><td>


	<p>Part three marks the last part of the experiment. This part consists of both <strong>a task and also a series of questions</strong> in which you will make decisions for yourself and another person. However, this person will not be part of this study.</p>


    </td><td width=50px></td></tr>
    </table>


    <button name="continue_env2" value="True" class="btn btn-primary btn-large">Click here to continue to part three</button>


{% endblock %}