{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Part One
{% endblock %}

{% block content %}


    <p>The first part of the study consists of <strong>15 rounds</strong>. Each round has <strong>three stages</strong>. For your convenience, the instructions for stage 3 are shown below.</p>


	{% include Constants.dictator_instructions %}


    <button name="continue_env1" value="True" class="btn btn-primary btn-large">Click here to join part one</button>



{% endblock %}