{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">

<p align="center">You will now use the die and the cup. You have to roll the die using the cup, peek under the cup, and report the die-roll outcome.</p>

<p>&nbsp</p>
<table align="center">
<tr><td width=15px></td><td align="left">

<p>If you report a 1, you will earn 0 points.</p>
<p>If you report a 2, you will earn 50 points.</p>
<p>If you report a 3, you will earn 100 points.</p>
<p>If you report a 4, you will earn 150 points.</p>
<p>If you report a 5, you will earn 200 points.</p>
<p>If you report a 6, you will earn 250 points.</p>

</td><td width=15px></td></tr>
</table>



    </div>
</div>

