{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Debriefing
{% endblock %}

{% block content %}
    <p>
        In this study, you were part of a four-person group and made
        a series of decisions that could affect your final payoff. In
        one part of the experiment the <strong>deciders</strong> were
        confronted with a rule of how to make decisions. We are
        interested in the extent to which people follow this rule,
        even when it is costly.
    </p>
    <p>
        In another part, the <strong>selector</strong> had to decide who
        to interact with, based on the decisions that the deciders
        made before. We are interested in when people choose to
        interact with others based on their previous
        decisions.
    </p>
    <p>
        In the last part, deciders who were chosen by the selector 
        had to divide money between themselves and the selector; by
        keeping more money for yourself you were able to earn more.
        We are interested in the extent to which allocations are fair
        and related to getting chosen as a partner.
    </p>
    <p>
        The study will help us better understand when and why
        individuals choose to interact with other people and follow
        or break rules.
    </p>
    <p>
        The study did not involve any deception &ndash; everything
        that was told to you did in fact happen and/or will be
        implemented upon completion of the study. For further
        information, please contact the coordinator the study,
        Professor Toby Handfield (toby.handfield@monash.edu).
    </p>
    <p>
        Thank you for your participation!
    </p>
    <button name="show_payoff" value="True" class="btn btn-primary btn-large">Show my earnings</button>
{% endblock %}
