{% extends "otree/Page.html" %}
{% load otree %}

{% block global_styles %}
<style>
	.otree-wait-page {
		max-width: 800px;
		background-color: blue;
		text-align: center;
	}

	.otree-wait-page__title {
		max-width: 800px;
		background-color: black;
		text-align: center;
	}

	.otree-wait-page__body {
		max-width: 800px;
		background-color: rgb(230, 230, 230);
		text-align: center;
	}

	.otree-btn-next {
		max-width: 800px;
		text-align: center;
	}

	.progress-bar-animated {
		max-width: 800px;
		background-color: rgb(230, 230, 230);
		text-align: center;
	}

	.otree-timer {
		display: none;
	}

	.bg-light {
		background-color: black;
	}

	.instruction-img {
		padding: 0 0 1em 0;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.bucket-img {
		padding-bottom: 1em;
	}
</style>
{% endblock %}

{% block global_scripts %}
{% endblock %}