{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Information Brochure
{% endblock %}

{% block content %}


<div align="center">
<table>
<tr><td width=50px></td><td align="center">

<p align="center">Dear participant,</p>
<p align="center">This brochure provides you with information about the type and methods of the study in which you are about to participate. It is therefore important that you read this document closely.</p>
<p align="center"><strong>Purpose of the Study</strong></p>
<p align="center">People constantly make decisions, sometimes to improve their situation and sometimes to prevent it from worsening. In this study we will let you make a series of decisions, in which you can increase or decrease your starting capital. Whatever you have earned from your decisions during the task will be paid out to you in the end. We expect that the decision task is involving and that we get a good insight into the kind of investments you make.</p>
<p align="center"><strong>What is going to happen?</strong></p>
<p align="center">After you have read this introduction and signed the informed consent form, you will be briefed and trained in the task. It is important for you to know that you can leave the experiment at any point without providing a justification and without consequences. In this experiment, you will make a number of decisions. Each time, performance and earnings will be measured. At the end of this study, you will receive a debriefing and eventual earnings. We will not provide your personal information to anybody else, only use these for scientific purposes, and will only report results averaged over all participants and not about individual cases.</p>
<p align="center"><strong>Financial reward</strong></p>
<p align="center">In this experiment, you participate in 1 session of about 60 minutes. You will be compensated with at least 6.50 Euros (or 2 credits if you prefer), with additional earnings possible depending on the decisions you make in the task. Your earnings will be calculated after the conclusion of the experiment and paid out to you in cash.</p>
<p align="center"><strong>Voluntary participation</strong></p>
<p align="center">If you now decide not to participate in this experiment, this shall have no consequences for you. If you decide during the experiment to withdraw from the study, this shall have no consequences for you. In addition, up to 24 hours after the study you can still withdraw your consent for use of your personal information. You can thus withdraw your participation at any point. You are free to do so without providing any justification. If you now or within the next 24 hours want to withdraw your consent, your personal information will be removed from our database.</p>
<p align="center"><strong>Confidentiality of study results</strong></p>
<p align="center">All information from this study will remain coded. The principal investigator has no insight into your identity. Any sum you earn during the experiment will be paid out to you in cash by the research assistants. Thus, the principal investigator does not know how much money you earned.</p>
<p align="center"><strong>Debriefing</strong></p>
<p align="center">At the end of this session, you will receive a short summary about the purpose of this study. You can always direct questions about the experiment to the experimenters or per email to Dr. J&ouml;rg Gross (j.a.j.gross@fsw.leidenuniv.nl).</p>


    {% formfields %}
    <p></p>
    <button name="continue_instructions" value="True" class="btn btn-primary btn-large">Continue to Instructions</button>


</td><td width=50px></td></tr>
</table>

</div>

{% endblock %}
