{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Please Read the General Instructions Closely.
{% endblock %}

{% block content %}

    {% if player.id_in_group != 4 %}
    {% include Constants.player_instructions %}
    {% endif %}

    {% if player.id_in_group == 4 %}
    {% include Constants.selector_instructions %}
    {% endif %}



<div align="center">
    <div align="left">

    <p align="center"><b>Please answer the following questions.</b></p>

    <table>
	<tr><td></td></tr>
	<tr><td width=50px></td><td width=300px>How many stages are there in this experiment?</td><td width=25px></td><td width=300px>{% formfield player.comprehension1 %}</td><td width=50px></td></tr>

	<tr><td></td><td align="top">What is the correct sequence of the stages? Enter the number of the stage for each of the four items. (Tip: Two of the choices belong to one stage.) </td><td></td><td>Splitting points among yourself and your partner</td><td>{% formfield player.comprehension21 %}</td><td></td></tr>
	<tr><td></td><td align="top"></td><td></td><td>Rolling and reporting dice rolls</td><td>{% formfield player.comprehension22 %}</td><td></td></tr>
	<tr><td></td><td align="top"></td><td></td><td>Selecting at least one partner</td><td>{% formfield player.comprehension23 %}</td><td></td></tr>
	<tr><td></td><td align="top"></td><td></td><td>Putting 15 balls in two baskets</td><td>{% formfield player.comprehension24 %}</td><td></td></tr>

	<tr><td></td><td>What is the maximum a player can earn in the first environment in stage three?</td><td></td><td>{% formfield player.comprehension3 %}</td></tr>
	<tr><td></td><td>What is the maximum a player can earn in the second environment in stage three?</td><td></td><td>{% formfield player.comprehension4 %}</td></tr>
	<tr><td></td><td>What is the maximum a selector can earn during the selection process?</td><td></td><td>{% formfield player.comprehension5 %}</td></tr>
	<tr><td></td><td>How will your total earnings be calculated?</td><td></td><td>{% formfield player.comprehension6 %}</td></tr>


    </table>
    </div>

    <p></p>         
    <button name="continue_experiment" value="True" class="btn btn-primary btn-large">Start The Experiment</button>

</div>


{% endblock %}


