{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
    <h3>
        Player Instructions
    </h3>

<table>
<tr><td width=25px></td><td align="center">
     
<p align="center">Welcome to the experiment! Below you will find detailed information about the study and a short test to check whether you understood the general setup. It is therefore important that you read the instructions closely.</p>
<p align="center"><strong>Part One</strong></p>
<p align="center">The first part of the study consists of 10 rounds. Each round includes the following three stages.</p>
<p align="center"><strong>Stage One. </strong>There are two baskets: a yellow basket and a blue basket. You will get 15 balls and are asked to put these 15 balls in the two baskets. <strong>The rule is to put the balls in the yellow basket</strong>. Choosing the yellow basket will earn you 5 points while choosing the blue basket will earn you 15 points. You can earn a total of 75 to 225 points in this stage. Your decisions are saved as two scores. At the beginning of each new round, these scores are reset to zero.</p>
<p align="center">One player of your group was assigned to the &lsquo;selector&rsquo; role at the beginning of the study. This selector does not participate in stage one. Instead, the selector will monitor the scores of each player and select players for stage three based on their decisions in stage one. If players were selected, they can earn more in stage three. If players were not selected, they do not have the possibility to earn more.</p>
<p align="center"><strong>Stage Two. </strong>The selector will choose at least one of the three other players (including you) based on the decisions both they and you have made in stage one. Players who get selected for stage three have the opportunity to earn more points in stage three. In stage two, however, you or the others cannot earn points; only the selector can.</p>
<p align="center">The selector gets 400 points and selects at least one player. The fee for each selected player is 150 points. The remaining points are the selector&rsquo;s earnings in stage two. The maximum a selector can earn in stage two is therefore 300 points.</p>
<p align="center"><strong>Stage Three. </strong>&nbsp;There are two environments. Each environment lasts 10 rounds. In the first environment, you are given 500 points. You are then asked to allocate a part of these points to yourself and the other part to the selector. The allocations you decide to make determine both your earnings as well as the selector&rsquo;s earnings.</p>
<p align="center">In the second environment of stage three, you will use the die that is placed on the table in front of you. You are asked to report a die roll which will determine your earnings as well as those of the selector. The amount you get will be the same for the both of you and will depend on the die roll you report. The maximum you can earn is 250 points for rolling a six, the minimum is 0 points for rolling a one. So, for each increase in the number you roll, you earn 50 points more. You are allowed to roll the die only once per round.</p>
<p align="center"><strong>Part Two</strong></p>
<p align="center">In part two, everything stays the same except for the order of the two environments in stage three. So, a) environment one becomes environment two and b) environment two becomes environment one.</p>
<p align="center"><strong>Part Three</strong></p>
<p align="center">Part three marks the last part of the experiment. This part consists of a series of questions in which you will make decisions for another person and yourself. However, this person will not be part of this study.</p>
<p align="center"><strong>General Information</strong></p>
<p align="center">Your total earnings are calculated from the summed earnings in all rounds.</p>
<p align="center">If you have any questions, you can ask the experimenter.</p>
<p align="center"><strong>Note:</strong> There is no deception involved in this study and your data will be anonymized and treated confidentially. Also, the interactions of each group member (including you) have real consequences for your earnings and any other member&acute;s earnings.</p>

</td><td width=25px></td></tr>
</table>

    </div>
</div>

