{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Debriefing
{% endblock %}

{% block content %}

<table>
<tr><td width=50px></td><td align="center">

<p>In this study, you were part of a four-person group and made a series of decisions that could affect your final payoff. In one part of the experiment you were confronted with a rule of how to make decisions. We are interested in how many people and to what extent they follow this rule. </p>

<p>In another part, one person of your group had to decide who to interact with based on the decisions that you and others made before. We are interested in when people choose to interact with others based on others&rsquo; previous ethical decisions. </p>

<p>In the last part, there were two contexts: you were assigned to either report the rolls of a die or divide money among yourself and a partner. If you had to report the rolls of a die, by not reporting truthfully, you were able to earn more money. We are interested in the extent to which overreporting in this task is related to following the rule in the first task. Further, we want to see how much people are influenced by the die-roll reports of others. In the second context, you had to divide money among yourself and a partner and by keeping more money for yourself you were able to earn more. We are interested in the extent to which allocations are fair and related to getting chosen as a partner.</p>

<p>The study will help us better understand when and why individuals choose to interact with other people and follow or break rules. </p>

<p>The study did not involve any deception &ndash; everything that was told to you did in fact happen and/or will be implemented upon completion of the study. For further information, please contact the coordinator the study, Dr J&ouml;rg Gross (j.a.j.gross@fsw.leidenuniv.nl).</p>

<p>Thank you for your participation!</p>

<button name="show_payoff" value="True" class="btn btn-primary btn-large">Show my earnings</button>

</td><td width=50px></td></tr>
</table>

{% endblock %}
